<section id="word_list" class="word-list">
    <div class="container">
      <div class="columns is-mobile">
        {% for word_plus in words %}
          <div class="column">
            <article class="word">
              <p class="name name--en">{{ word_plus.word.name_english }}</p>
              <p class="name name--en u-lang-hebrew">{{word_plus.word.name_original_language }}</p>
              {% if word_plus.meanings %}
            {% endif %}
            </article>
          </div>
        {% endfor %}
    </div>
  </div>
  </section>
